<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Hello <%= @email %> </p>
    <p> You have an Interview scheduled in 30 mins. Please be ready for it with your laptop.</p>
    <p>Title: <%= @interview.title %></p>
    <p>Start Time: <%= @interview.start %></p>
    <p>End Time: <%= @interview.end %></p>
    <p>
  </body>
</html>