<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <p> Hello <%= @email %> </p>
  <p> Your Interview with us has been rescheduled. Following are the details of your rescheduled interview.</p>
  <p>Title: <%= @interview.title %></p>
  <p>Start Time: <%= @interview.start %></p>
  <p>End Time: <%= @interview.end %></p>
  <p>
</body>

</html>